"apiVersion": "batch/v1beta1"
"kind": "CronJob"
"metadata":
  "name": "cronjob-cleanup"
"spec":
  "jobTemplate":
    "spec":
      "backoffLimit": 0
      "template":
        "spec":
          "containers":
          - "args":
            - |
              cat > tests.txt <<EOF
              flax-latest-imagenet-conv-v3-8-1vm
              flax-latest-imagenet-func-v2-8-1vm
              flax-latest-wmt-conv-v3-8-1vm
              flax-latest-wmt-func-v2-8-1vm
              flax-nightly-imagenet-conv-v3-8-1vm
              flax-nightly-imagenet-func-v2-8-1vm
              flax-nightly-mnist-conv-v3-8-1vm
              flax-nightly-mnist-func-v2-8-1vm
              flax-nightly-wmt-conv-v3-8-1vm
              flax-nightly-wmt-func-v2-8-1vm
              jax-compilation-cache-test-func-v2-8-1vm
              jax-head-libtpu-alpha-func-v2-8-1vm
              jax-head-libtpu-nightly-func-v2-8-1vm
              jax-latest-libtpu-alpha-func-v2-8-1vm
              jax-latest-libtpu-nightly-func-v2-8-1vm
              pt-nightly-cpp-ops-func-v2-8
              pt-nightly-cpp-ops-func-v3-8
              pt-nightly-dlrm-convergence-conv-v3-8
              pt-nightly-dlrm-mp-fwd-func-v3-8
              pt-nightly-dlrm-mpdp-fwd-func-v3-8
              pt-nightly-dlrm-onecore-func-v3-8
              pt-nightly-dlrm-seq-fwd-func-v3-8
              pt-nightly-fs-checkpoint-gcs-func-v3-8
              pt-nightly-fs-checkpoint-local-func-v3-8
              pt-nightly-fs-transformer-conv-v3-8
              pt-nightly-fs-transformer-conv-v3-8-1vm
              pt-nightly-fs-transformer-func-v3-8
              pt-nightly-hf-glue-bert-b-c-conv-v2-8
              pt-nightly-hf-glue-bert-b-c-conv-v3-8
              pt-nightly-hf-glue-distilbert-b-uc-conv-v3-8
              pt-nightly-hf-glue-roberta-l-conv-v3-8
              pt-nightly-hf-glue-xlnet-l-c-conv-v3-8
              pt-nightly-hf-mlm-bert-b-fine-conv-v3-8
              pt-nightly-hf-mlm-bert-b-pre-conv-v3-8
              pt-nightly-hf-mlm-roberta-b-fine-conv-v3-8
              pt-nightly-hf-mlm-roberta-b-pre-conv-v2-8
              pt-nightly-hf-mlm-roberta-b-pre-conv-v3-8
              pt-nightly-mnist-3-7-conv-v2-8
              pt-nightly-mnist-3-7-conv-v3-8
              pt-nightly-mnist-conv-v2-8
              pt-nightly-mnist-conv-v3-8
              pt-nightly-mnist-cuda-10-1-conv-v100-x1
              pt-nightly-mnist-cuda-10-1-conv-v100-x4
              pt-nightly-mnist-cuda-10-2-conv-v100-x1
              pt-nightly-mnist-cuda-10-2-conv-v100-x4
              pt-nightly-mnist-cuda-11-2-conv-v100-x1
              pt-nightly-mnist-cuda-11-2-conv-v100-x4
              pt-nightly-python-ops-func-v2-8
              pt-nightly-python-ops-func-v3-8
              pt-nightly-resnet50-cuda-10-1-amp-func-v100-x1
              pt-nightly-resnet50-cuda-10-2-amp-func-v100-x1
              pt-nightly-resnet50-mp-conv-v3-8
              pt-nightly-resnet50-mp-conv-v3-8-1vm
              pt-nightly-resnet50-mp-cuda-10-1-func-v100-x1
              pt-nightly-resnet50-mp-cuda-10-1-func-v100-x4
              pt-nightly-resnet50-mp-cuda-10-2-func-v100-x1
              pt-nightly-resnet50-mp-cuda-10-2-func-v100-x4
              pt-nightly-resnet50-mp-cuda-11-2-func-v100-x1
              pt-nightly-resnet50-mp-cuda-11-2-func-v100-x4
              pt-nightly-resnet50-mp-func-v3-8
              pt-nightly-resnet50-mp-func-v3-8-1vm
              pt-nightly-roberta-pre-conv-v3-8
              pt-nightly-roberta-pre-conv-v3-8-1vm
              pt-nightly-roberta-pre-func-v3-8
              pt-nightly-w2v2-conv-v3-8
              pt-nightly-w2v2-func-v3-8
              pt-r1.8.1-cpp-ops-func-v2-8
              pt-r1.8.1-cpp-ops-func-v3-8
              pt-r1.8.1-dlrm-convergence-conv-v3-8
              pt-r1.8.1-dlrm-convergence-conv-v3-8-1vm
              pt-r1.8.1-dlrm-mp-fwd-func-v3-8
              pt-r1.8.1-dlrm-mpdp-fwd-func-v3-8
              pt-r1.8.1-dlrm-onecore-func-v3-8
              pt-r1.8.1-dlrm-seq-fwd-func-v3-8
              pt-r1.8.1-fs-checkpoint-gcs-func-v3-8
              pt-r1.8.1-fs-checkpoint-local-func-v3-8
              pt-r1.8.1-fs-transformer-conv-v3-8
              pt-r1.8.1-fs-transformer-conv-v3-8-1vm
              pt-r1.8.1-fs-transformer-func-v3-8
              pt-r1.8.1-hf-glue-bert-b-c-conv-v2-8
              pt-r1.8.1-hf-glue-bert-b-c-conv-v3-8
              pt-r1.8.1-hf-glue-distilbert-b-uc-conv-v3-8
              pt-r1.8.1-hf-glue-roberta-l-conv-v3-8
              pt-r1.8.1-hf-glue-xlnet-l-c-conv-v3-8
              pt-r1.8.1-mnist-3-7-conv-v2-8
              pt-r1.8.1-mnist-3-7-conv-v3-8
              pt-r1.8.1-mnist-conv-v2-8
              pt-r1.8.1-mnist-conv-v2-8-1vm
              pt-r1.8.1-mnist-conv-v3-8
              pt-r1.8.1-mnist-conv-v3-8-1vm
              pt-r1.8.1-python-ops-func-v2-8
              pt-r1.8.1-python-ops-func-v2-8-1vm
              pt-r1.8.1-python-ops-func-v3-8
              pt-r1.8.1-python-ops-func-v3-8-1vm
              pt-r1.8.1-resnet50-mp-conv-v3-8
              pt-r1.8.1-resnet50-mp-conv-v3-8-1vm
              pt-r1.8.1-resnet50-mp-func-v3-8
              pt-r1.8.1-resnet50-mp-func-v3-8-1vm
              pt-r1.8.1-roberta-convergence-conv-v3-8-1vm
              pt-r1.8.1-roberta-pre-conv-v3-8
              pt-r1.8.1-roberta-pre-func-v3-8
              pt-r1.9-cpp-ops-func-v2-8
              pt-r1.9-cpp-ops-func-v3-8
              pt-r1.9-dlrm-mp-fwd-func-v3-8
              pt-r1.9-dlrm-mpdp-fwd-func-v3-8
              pt-r1.9-dlrm-onecore-func-v3-8
              pt-r1.9-dlrm-pre-conv-v3-8
              pt-r1.9-dlrm-pre-conv-v3-8-1vm
              pt-r1.9-dlrm-seq-fwd-func-v3-8
              pt-r1.9-fs-checkpoint-gcs-func-v3-8
              pt-r1.9-fs-checkpoint-local-func-v3-8
              pt-r1.9-fs-transformer-conv-v3-8
              pt-r1.9-fs-transformer-conv-v3-8-1vm
              pt-r1.9-fs-transformer-func-v3-8
              pt-r1.9-hf-glue-bert-b-c-conv-v2-8
              pt-r1.9-hf-glue-bert-b-c-conv-v3-8
              pt-r1.9-hf-glue-distilbert-b-uc-conv-v3-8
              pt-r1.9-hf-glue-roberta-l-conv-v3-8
              pt-r1.9-hf-glue-xlnet-l-c-conv-v3-8
              pt-r1.9-mnist-colab-v3-8
              pt-r1.9-mnist-conv-v2-8
              pt-r1.9-mnist-conv-v2-8-1vm
              pt-r1.9-mnist-conv-v3-8
              pt-r1.9-mnist-conv-v3-8-1vm
              pt-r1.9-python-ops-func-v2-8
              pt-r1.9-python-ops-func-v2-8-1vm
              pt-r1.9-python-ops-func-v3-8
              pt-r1.9-python-ops-func-v3-8-1vm
              pt-r1.9-resnet18-colab-v3-8
              pt-r1.9-resnet50-mp-conv-v3-8
              pt-r1.9-resnet50-mp-conv-v3-8-1vm
              pt-r1.9-resnet50-mp-func-v3-8
              pt-r1.9-resnet50-mp-func-v3-8-1vm
              pt-r1.9-roberta-convergence-conv-v3-8-1vm
              pt-r1.9-roberta-pre-conv-v3-8
              pt-r1.9-roberta-pre-func-v3-8
              tf-nightly-bert-mnli-conv-v2-8
              tf-nightly-bert-mnli-conv-v3-8
              tf-nightly-bert-squad-conv-k80-x8
              tf-nightly-bert-squad-conv-v100-x1
              tf-nightly-bert-squad-conv-v100-x4
              tf-nightly-classifier-efficientnet-conv-v2-8
              tf-nightly-classifier-efficientnet-conv-v3-8
              tf-nightly-classifier-resnet-conv-a100-x4
              tf-nightly-classifier-resnet-conv-v100-x8
              tf-nightly-classifier-resnet-conv-v2-8
              tf-nightly-classifier-resnet-conv-v3-8
              tf-nightly-classifier-resnetrs-conv-v100-x8
              tf-nightly-classifier-resnetrs-conv-v2-8
              tf-nightly-classifier-resnetrs-conv-v3-8
              tf-nightly-keras-api-connection-v2-8
              tf-nightly-keras-api-ctl-v2-8
              tf-nightly-keras-api-custom-layers-v2-8
              tf-nightly-keras-api-feature-column-v2-8
              tf-nightly-keras-api-preprocess-layers-v2-8
              tf-nightly-keras-api-rnn-v2-8
              tf-nightly-keras-api-save-and-load-v2-8
              tf-nightly-keras-api-save-load-localhost-v2-8
              tf-nightly-keras-api-train-and-evaluate-v2-8
              tf-nightly-keras-api-train-eval-dataset-v2-8
              tf-nightly-keras-api-transfer-learning-v2-8
              tf-nightly-maskrcnn-conv-v2-8
              tf-nightly-maskrcnn-conv-v3-8
              tf-nightly-mnist-conv-v2-8
              tf-nightly-mnist-conv-v2-8-1vm
              tf-nightly-mnist-conv-v3-8
              tf-nightly-ncf-conv-k80-x1
              tf-nightly-ncf-conv-k80-x8
              tf-nightly-ncf-conv-v100-x1
              tf-nightly-ncf-conv-v100-x4
              tf-nightly-ncf-conv-v3-8
              tf-nightly-ranking-dcn-conv-v100-x1
              tf-nightly-ranking-dcn-conv-v3-8
              tf-nightly-ranking-dlrm-conv-v100-x1
              tf-nightly-ranking-dlrm-conv-v100-x4
              tf-nightly-ranking-dlrm-conv-v3-8
              tf-nightly-resnet-ctl-conv-v2-8
              tf-nightly-resnet-ctl-conv-v3-8
              tf-nightly-retinanet-conv-v2-8
              tf-nightly-retinanet-conv-v3-8
              tf-nightly-shapemask-conv-v3-8
              tf-nightly-transformer-translate-conv-v2-8
              tf-nightly-transformer-translate-conv-v3-8
              tf-nightly-xlnet-imdb-conv-v2-8
              tf-nightly-xlnet-imdb-conv-v3-8
              tf-nightly-xlnet-squad-conv-v3-8
              tf-r1.15.5-bert-func-v2-8
              tf-r1.15.5-bert-func-v3-8
              tf-r1.15.5-efficientnet-func-v2-8
              tf-r1.15.5-efficientnet-func-v3-8
              tf-r1.15.5-mask-rcnn-func-v2-8
              tf-r1.15.5-mask-rcnn-func-v3-8
              tf-r1.15.5-resnet-conv-v2-8
              tf-r1.15.5-resnet-conv-v3-8
              tf-r1.15.5-resnet-func-v2-8
              tf-r1.15.5-resnet-func-v3-8
              tf-r2.4.2-keras-api-save-and-load-v3-8
              tf-r2.5.0-classifier-resnet-conv-v100-x8
              tf-r2.5.0-keras-api-save-and-load-v3-8
              tf-r2.6.0-bert-mnli-func-v2-8
              tf-r2.6.0-bert-mnli-func-v2-8-1vm
              tf-r2.6.0-bert-mnli-func-v3-8
              tf-r2.6.0-bert-mnli-func-v3-8-1vm
              tf-r2.6.0-bert-mnli-profile-v2-8-1vm
              tf-r2.6.0-bert-squad-func-k80-x8
              tf-r2.6.0-bert-squad-func-v100-x1
              tf-r2.6.0-bert-squad-func-v100-x4
              tf-r2.6.0-bert-squad-func-v2-8
              tf-r2.6.0-bert-squad-func-v3-8
              tf-r2.6.0-classifier-efficientnet-conv-v2-8
              tf-r2.6.0-classifier-efficientnet-conv-v3-8
              tf-r2.6.0-classifier-efficientnet-func-v2-8
              tf-r2.6.0-classifier-efficientnet-func-v2-8-1vm
              tf-r2.6.0-classifier-efficientnet-func-v3-8
              tf-r2.6.0-classifier-efficientnet-hbm-v3-8
              tf-r2.6.0-classifier-resnet-conv-v100-x8
              tf-r2.6.0-classifier-resnet-func-v100-x8
              tf-r2.6.0-classifier-resnet-func-v2-8
              tf-r2.6.0-classifier-resnet-func-v2-8-1vm
              tf-r2.6.0-classifier-resnet-func-v3-8
              tf-r2.6.0-classifier-resnet-func-v3-8-1vm
              tf-r2.6.0-classifier-resnetrs-func-v2-8
              tf-r2.6.0-classifier-resnetrs-func-v3-8
              tf-r2.6.0-fashion-mnist-colab-v3-8
              tf-r2.6.0-iris-colab-v3-8
              tf-r2.6.0-keras-api-connection-v2-8
              tf-r2.6.0-keras-api-connection-v3-8
              tf-r2.6.0-keras-api-ctl-v2-8
              tf-r2.6.0-keras-api-ctl-v3-8
              tf-r2.6.0-keras-api-custom-layers-v2-8
              tf-r2.6.0-keras-api-custom-layers-v3-8
              tf-r2.6.0-keras-api-feature-column-v2-8
              tf-r2.6.0-keras-api-feature-column-v3-8
              tf-r2.6.0-keras-api-preprocess-layers-v2-8
              tf-r2.6.0-keras-api-preprocess-layers-v3-8
              tf-r2.6.0-keras-api-rnn-v2-8
              tf-r2.6.0-keras-api-rnn-v3-8
              tf-r2.6.0-keras-api-save-and-load-v2-8
              tf-r2.6.0-keras-api-save-and-load-v3-8
              tf-r2.6.0-keras-api-save-load-localhost-v2-8
              tf-r2.6.0-keras-api-save-load-localhost-v3-8
              tf-r2.6.0-keras-api-train-and-evaluate-v2-8
              tf-r2.6.0-keras-api-train-and-evaluate-v3-8
              tf-r2.6.0-keras-api-train-eval-dataset-v2-8
              tf-r2.6.0-keras-api-train-eval-dataset-v3-8
              tf-r2.6.0-keras-api-transfer-learning-v2-8
              tf-r2.6.0-keras-api-transfer-learning-v3-8
              tf-r2.6.0-maskrcnn-func-v2-8
              tf-r2.6.0-maskrcnn-func-v2-8-1vm
              tf-r2.6.0-maskrcnn-func-v3-8
              tf-r2.6.0-mnist-func-k80-x1
              tf-r2.6.0-mnist-func-v100-x1
              tf-r2.6.0-mnist-func-v2-8
              tf-r2.6.0-mnist-func-v3-8
              tf-r2.6.0-ncf-func-k80-x1
              tf-r2.6.0-ncf-func-k80-x8
              tf-r2.6.0-ncf-func-v100-x1
              tf-r2.6.0-ncf-func-v100-x4
              tf-r2.6.0-ncf-func-v2-8
              tf-r2.6.0-ncf-func-v2-8-1vm
              tf-r2.6.0-ranking-dcn-func-v2-8
              tf-r2.6.0-ranking-dlrm-func-v100-x1
              tf-r2.6.0-ranking-dlrm-func-v100-x4
              tf-r2.6.0-ranking-dlrm-func-v3-8
              tf-r2.6.0-resnet-ctl-func-v2-8
              tf-r2.6.0-resnet-ctl-func-v2-8-1vm
              tf-r2.6.0-resnet-ctl-func-v3-8
              tf-r2.6.0-retinanet-func-k80-x8
              tf-r2.6.0-retinanet-func-v2-8
              tf-r2.6.0-retinanet-func-v2-8-1vm
              tf-r2.6.0-retinanet-func-v3-8
              tf-r2.6.0-shakespeare-colab-v3-8
              tf-r2.6.0-shapemask-func-v2-8
              tf-r2.6.0-shapemask-func-v2-8-1vm
              tf-r2.6.0-shapemask-func-v3-8
              tf-r2.6.0-transformer-translate-func-k80-x8
              tf-r2.6.0-transformer-translate-func-v100-x4
              tf-r2.6.0-transformer-translate-func-v2-8
              tf-r2.6.0-transformer-translate-func-v2-8-1vm
              tf-r2.6.0-transformer-translate-func-v3-8
              tf-r2.6.0-xlnet-imdb-func-v3-8
              tf-r2.6.0-xlnet-squad-func-v3-8
              EOF
              
              delete_list=$(kubectl get cronjob --namespace=automated -l benchmarkId -o name | grep -vx -f tests.txt)
              if [[ "$delete_list" ]]; then
                kubectl delete $delete_list;
              fi
            "command":
            - "bash"
            - "-cx"
            "image": "google/cloud-sdk"
            "name": "clean"
          "restartPolicy": "Never"
          "serviceAccount": "cronjob-cleaner"
  "schedule": "0 */4 * * *"