# Build generated files with JSonnet and show diff output.
name: Diff Generated Files

on:
  pull_request:
    branches: [master]
    types: [opened, synchronize, edited]

  workflow_dispatch: {}

jobs:
  diff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup Go environment
      uses: actions/setup-go@v2
      with:
        go-version: '1.17'

    - name: Install JSonnet
      run: |
        go install github.com/google/go-jsonnet/cmd/jsonnet@latest
        go install github.com/google/go-jsonnet/cmd/jsonnetfmt@latest
        echo "$HOME/go/bin" >> $GITHUB_PATH

    - name: Format JSonnet files (diff should be empty)
      run: |
        scripts/format-jsonnet.sh
        git add -N tests/ templates/
        git diff --exit-code

    - name: Build repository
      run: |
        scripts/gen-tests.sh

    - name: Show git diff summary
      run: |
        # New files need to be added before git diff will recognize them.
        git add --force -N k8s/*/gen/*.yaml
        git add -N k8s/
        git fetch origin gen
        git diff origin/gen --compact-summary -- k8s/ || true

    - name: Show full git diff
      run: |
        git diff origin/gen -- k8s/ | tee generated.diff

    - name: Upload a diff file
      uses: actions/upload-artifact@v2.2.0
      with:
        name: diff
        path: generated.diff
